.chart {
  height: 500px;
  margin-bottom: 50px;
}
body {
  font: 11px 'Oxygen', sans-serif;
}

select{
margin-left: 25px;
margin-top: 10px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

p{
display: inline-block;
}

.indicator{
font-family: 'Arial', sans-serif;
font-size: 16px;
font-weight: bolder;
}

h5{
margin-bottom: 20px;
margin-top: 30px;
}

.dot {
  stroke: #000;
  opacity: 0.6;
}

table.bridges{
table-layout: fixed;
margin: 10px;
}

th.amount, td.amount {
	text-align: right;
}

#key{
    width:210px;
    height: 100px;
    position:absolute;
    top:300px;
    right:5px;
    display:block;
}

#key h4{
    font: bold 14px 'Oxygen', sans-serif;
    margin-bottom: 5px;

}
.key{
    font: 11px 'Oxygen', sans-serif;
}

.key span {
    margin-right:10px;
    width: 10px;
    height: 10px;
    display: inline-block;   
}

.dot{
    cursor:pointer;
}
text.label{
    font-size:15px;
}
#tooltip {
        position: fixed;
        display:inline-block;
        height: auto;
        padding: 5px 10px;
        background-color: white;
        border-radius: 2px;
        border: 1px solid rgba(0,0,0,0.2);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        color:black;
        top:0;
        left:0;
}

#tooltip.hidden {
        display: none;
}
#tooltip p {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 20px;
}

.placeplot{
font-family: 'Arial', sans-serif;
font-size: 14px;
font-weight: bolder;
}




.palette {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin: 4px 0 4px 6px;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa;
}

.swatch {
  display: block;
  vertical-align: middle;
  width: 37px;
  height: 22px;
}


footer{
margin-bottom: 20px;
}